.featured-vehicles #pills-makes .tab-pane a {
    display: inline-block;
    width: 10%;
    border-bottom: 1px solid #cccfd7;
    padding: 10px 5px;
    margin: 0 2.1%;
    color: var(--text-color);
    font-size: 	0.8125rem;
}

.featured-vehicles #pills-makes {
    display: flex;
    justify-content: center;
}

.featured-vehicles #pills-makes .tab-pane {
    width: 100%;
    display: -webkit-inline-flex;
    flex-wrap: wrap;
}

.nav-pills .nav-item .nav-link {
    padding: 5px 10px;
    color: var(--text-color);
    font-size: 	0.8125rem;
    font-weight: 600;
    margin-right: 10px;
    text-transform: uppercase;
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: var(--text-accent)!important;
}

#makes-level-2-tabs {
    margin-top: 20px;
}

#featured-switch .nav-link {
    color: var(--text-color)!important;
    font-weight: 500;
    font-size: 0.9375rem;
    border: 0!important;
    border-bottom: 1px solid #cccfd7;
}

#featured-switch .nav-link.active {
    border-bottom: 3px solid var(--text-accent)!important;
    font-weight: 600;
}

@media screen and (max-width: 920px) {
    .featured-vehicles #pills-makes .tab-pane a {
        width: 25%;
        margin: 0 4.1%;
    }
}

@media screen and (max-width: 640px) {
    .featured-vehicles #pills-makes .tab-pane a {
        width: 45%;
        margin: 0 2.5%;
    }
}

@media screen and (max-width: 450px) {
    .featured-vehicles #pills-makes .tab-pane a {
        width: 90%;
        margin: 0 5%;
    }
}

