.back-to-top-anchor {
    cursor: pointer;
    color: #fff;
    font-size: 0.625rem;
    font-weight: 600;
    background-color: #262c39;
    padding: 15px 0;
}

.back-to-top-anchor p {
    margin: 0;
}

.back-to-top-anchor i {
    font-size: 1.2rem;
    vertical-align: bottom;
    margin-left: 5px;
}

.footer-menu-title {
    text-transform: uppercase;
    font-size: 	.75rem;
    font-weight: 600;
    color: #eaeaea!important;
}

.footer-menu-item ul li a, .footer-menu-item ul li {
    color: #eaeaea!important;
    font-size: 	0.6875rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.footer-menu-item ul li i {
    margin-right: 10px;
}

.footer-menu-item ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.footer-menu-item {
    margin:0 30px;
}

.footer>div, .footer-menus, .footer-contact {
    display: flex;
}

.footer {
    background-color: #2c3341;
    width: 100%;
}

.bold {
    font-weight: 700!important;
} 

.footer-contact  {
    justify-content: flex-end;
}

.contact-mt {
    margin-top: 25px;
}

.footer-copy {
    background-color: #2c3341!important;
    border-top: 1px solid #3b4251;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.footer-copy__text p {
    margin: 0;
}

.footer-copy__text {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 	0.625rem;
    font-weight: 600;
}

.footer-copy__social i {
    font-size: 1.5em;
    color: #fff;
    margin-right: 10px;
}

@media screen and (min-width: 1550px) {
    .footer>div {
        justify-content: center;
    }
}

@media screen and (max-width: 1379px) {
    .footer>div {
        flex-direction: column;
    }

    .footer-menus {
        justify-content: space-between;
    }

    .footer-menus, .footer-contact {
        max-width: none!important;
    }

    .footer-contact {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .footer-contact {
        justify-content: space-between;
    }
}

@media screen and (max-width: 574px) {
    .footer-menus, .footer-contact {
        flex-direction: column;
    }

    .footer-copy {
        justify-content: center;
        flex-direction: column;
    }

    .footer-copy__social {
        display: flex;
        justify-content: center;
    }

    .footer-copy__text {
        margin-top: 20px;
        justify-content: center;
        order: 2;
    }
}

