@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

header {
    padding-top: 20px;
    position: relative;
}

#mobile-menu {
    padding: 30px;
    position: absolute;
    top:0;
    left: 0;
    background-color: #262c39;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 10000;
}

.mobile-menu {
    list-style: none!important;
}

#mobile-menu i {
    font-size: 2em;
}

.mobile-menu li {
    line-height: 3rem;
}

.mobile-menu a, #mobile-menu  {
    color: #fff!important;
    font-size: .75rem;
    font-weight: 600;
}

/*SEARCH INPUT*/

.input-prepend {
    border: 0;
}

.fa-search {
    color: #ce4234;
}

.headerSearch span {
    background-color: transparent;
}

.input-prepend-search {
    border: 2px solid #d9dce2;
    border-left: 0;
}

.headerSearch {
    margin-bottom: .5rem!important;
}

.headerSearch input {
    border: 2px solid #d9dce2;
    border-right: 0;
    border-left: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8125rem!important;
    font-weight: 400;
}

.headerSearch input:focus {
    box-shadow: none;
    border-color: #d9dce2;
}

.input-prepend {
    padding: 0!important;
}

.input-prepend img {
    height: 32px;
}

/*BOTTOM SEARCH MENU*/

.header-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 0;
    margin-top: 10px;
}

.header-menu li>a {
    color: var(--text-color);
    text-decoration: none;
}

.header-menu li:not(:last-child)::after {
content: "\f111";
display: inline;
font-family: FontAwesome;
font-size: 0.3rem;
margin-left: 1.5vw;
margin-right: 1.5vw;
vertical-align: middle;
color: #b1b9ca;
}

.header-menu li:first-child {
    margin-left: 20px;
}

.header-menu .list-inline-item {
    margin: 0;
}

/*HEADER CUSTOM*/

.header-custom {
    display: flex;
    flex-direction: column;
}

.header-flex-inline {
    display: flex;
    justify-content: space-around;
}

.header-search-custom {
    padding-left: 10px!important;
}

header * {
    margin-bottom: 0;
}

.header-divider {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 1px;
    border: 1px solid #d9dde8;
}

/*HELP SECTION*/

.headerHelp__heading {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6875rem;
    font-weight: 600;
    margin-bottom: 0;
}

.headerHelp__block-tel {
    color: var(--text-color);
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.headerHelp__block-tel a {
    font-weight: 600;
    color: var(--text-color);
}

.headerHelp__block-tel::after {
    content: "\f111";
    display: inline;
    font-family: FontAwesome;
    font-size: 4px;
    margin-left: .8rem;
    vertical-align: middle;
    color: #b1b9ca;
}

.headerHelp__block-helpCenter {
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--text-accent);
}

.headerAccount__account-signin::after, .headerHelp__block-helpCenter::after {
    content: "\f107";
    display: inline;
    font-family: FontAwesome;
    font-size: 1.2rem;
    color: var(--text-accent);
    font-weight: 600;
    margin-left: .8rem;
    vertical-align: middle;
}

/***********/

.headerAccount__account-title {
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 0.6875rem; 
    margin-bottom: 0;
}

.headerAccount__account-signin {
    display: inline-block;
    font-family: var(--main-font);
    color: var(--text-accent);
    font-size: 0.75rem;
}

.headerAccount__account-signin span {
    font-weight: 600;
}

.headerAccount__account-signin {
    position: relative;
}

.headerAccount>div {
    display: inline-block;
}

/********************************/

.headerAccount__cart img {
    vertical-align: -webkit-baseline-middle;;
}

.headerAccount__cart a {
    color: var(--text-color)!important;
    text-decoration: none;
}

.headerAccount__cart-icon {
    position: relative;
}

.headerAccount__cart-icon span {
    position: absolute;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 	0.6875rem;
    color: #fff;
    text-align: center;
    line-height: 1.2rem;
    top: 0px;
    left: 10px;
    max-height: 30px;
    max-width: 30px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: var(--text-accent);
}

.headerAccount__cart-title p {
    display: inline;
    font-family: var(--main-font);
    font-size: 0.8125rem;
    font-weight: 700;
    vertical-align: -webkit-baseline-middle;
    margin-left: .5rem;
}

/*****************/

.headerPayment {
    margin-top: 2px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 100%;
    font-family: var(--main-font);
    font-size: 	0.6875rem;
    font-weight: 600;
    color: #8f949e;
}

.headerPayment img {
    align-self: center;
    margin-left: 10px;
}

.headerPayment p {
    display: inline;
}

/*MOBILE HEADER*/

.header-mobile {
    display: none;
}

.header-mobile .headerLogo {
    width: 100%;
    padding: 0 10px;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    cursor: pointer;
}

.header-mobile-tel {
   font-family: var(--main-font);
   font-weight: 600;
   color: var(--text-color);
   font-size: 0.6875rem;
}

.header-mobile-tel a {
    color: var(--text-color);
}

.custom-flex-center-XY {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-mobile-tel span {
    margin-left: 10px;
}

.header-mobile .headerAccount__cart-icon span {
    height: 15px;
    width: 15px;
    top: -2px;
    left: 11px;
    line-height: 1.5;
}

/*HEADER BOTTOM*/

header {
    padding-bottom: 15px;
    border-bottom: 5px solid var(--text-accent);
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1337px){
    .header-divider {
        display: none;
    }
}

@media screen and (max-width: 1142px){
    .headerSearch input, .headerPayment, .header-menu, .headerHelp__block-tel, .headerHelp__block-helpCenter, .headerAccount__account-title, .headerAccount__account-signin, .headerAccount__cart-title p, .headerHelp__heading {
        font-size: 1.1vw!important;
    }
    .headerAccount__account-signin::after, .headerHelp__block-helpCenter::after {
        font-size: 1.1vw;
        margin-left: 5px;
    }

    .header-menu {
        margin-top: 7px;
    }

    .headerSearch {
        margin-bottom: 0!important;
    }
}

@media screen and (max-width: 767px) {
    .header-mobile {
        display: block;
    }

    .header-tablet-desktop {
        display: none!important;
    }
}

@media screen and (max-width: 405px) {
    .header-mobile-tel {
        font-size: 2.2vw;
    }
    .header-mobile-tel-icon img {
        width: 60%;
    }

    .header-mobile-tel span {
        margin: 0;
    }
    .header-mobile .headerAccount__cart-icon span {
        left: 29%;
    }

    .header-mobile-tel {
        justify-content: center;
    }
}