.section-4-title {
    font-size: 2.25rem;
    color: var(--text-color);
    font-weight: 600;
}

.section-4 {
    padding: 90px 0 0 0;
}

.section-4-carousel {
    padding: 0 20px;
}

.section-4-carousel__card .card-header p {
    margin: 0;
    font-size: 0.8125rem;
    font-weight: 500;
    color: #727a88;
}
.section-4__card{
    color: var(--text-accent);
}
.section-4--color{
    color: red;
    position: absolute;
    left: 114px;
    top: 83px;   
}

.section-4-carousel__card .card-header a {
    font-size: 	1.0625rem;
    font-weight: 600;
    color: #0b56c5;
    text-decoration: underline;
}
.section-4__average-title{
    color: var(--text-color);
    font-size: 0.875em;
    font-weight: 600;
}
.section-4__average-number{
    display: inline-block;
    color: var(--text-color);
    font-size: 2.375em;
    font-weight: 400;
    
}
.section-4__average-number1{
    display: inline-block;
    color: var(--text-color);
    font-size: 1.875em;
    font-weight: 400;
    
}
.section-4__line-head{
    color: var(--text-accent);
        font-size: 0.8125rem;
        font-weight: 600;
        padding-left: 2px;
}
.section-4__line-title{
    color: var(--main-font);
    font-size: 1.250em;
    font-weight: 600;
    padding-bottom: 10px;
}

.section-4__line-numb{
    color: var(--text-accent);
    font-size: 1.125em;
    display: inline-block;
    
    font-weight: 600;
    padding-left: 2px;
    float: right;
    
    
}
.section-4__line-desc{
    display: inline-block;
        color: var(--text-color);
        font-size: 0.875em;
        font-weight: 500;
    }
.section-4__line_box:after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--text-accent);
}
.section-4__line_box1:after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to left,#d4d8e2 22%,var(--text-accent) 20%);;

}
.section-4__line:before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 64px;
    background-color: #d1d5e1;
  position: absolute;
  left: -5%;
  top: 20px;
}
.section-4__average-number:after{
    content: "";
    display: inline-block;
    background: url("../img/line-section-4.png") center no-repeat;
    width: 13px;
    height: 13px;
    margin: 0 10px;
}
.section-4__average-number1:after{
    content: "";
    display: inline-block;
    background: url("../img/line-section-4.png") center no-repeat;
    width: 13px;
    height: 13px;
    margin: 0 10px;
}
.section-4--top{
    padding-top: 45px;
}
.section-4--up{
    padding-top: 45px;
}
.section-4__btn-top{
    padding-top: 60px;
}
.section-4--top:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d1d5e1;
    margin-top: 35px;
}
.section-4__img{
    margin-top: -30px;
    max-width: 100%;
}
.section-3__btn{
    width: 100%;
    background-color: #788195;
    border-color: #788195;
    font-size: 0.8125rem;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .938em .75rem;
    line-height: 1.5;
    color: #fff;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section-3__btn1{
    width: 100%;
    background-color: transparent;
    border-color: var(--text-accent);
    font-size: 0.8125rem;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--text-accent);
    padding: .938em .75rem;
    line-height: 1.5;
    color: var(--text-accent);
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section-3__btn1:hover{
        color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fa-section-3{
    margin-right: 6px;
}
.section-4__average-title1{
    display: inline-block;
    font-size: 0.750em;
    padding-left: 50px;

}
.section-4__level-title{
    display: inline-block;
    color: var(--text-color);
    font-size: 0.750em;
    font-weight: 600;
}
.section-4__level-title1{
    display: inline-block;
    color: var(--text-color);
    font-size: 0.750em;
    font-weight: 600;
}
.section-4__level-title1:after{
    content: "";
    display: inline-block;
    width: 130px;
    height: 3px;
    background: linear-gradient(to left,#d4d8e2 22%,var(--text-accent) 20%);
    border-radius: 10px;
    margin-left: 15px;
}
.section-4__level-title:after{
    content: "";
    display: inline-block;
    width: 130px;
    height: 3px;
    background-color: var(--text-accent);
    border-radius: 10px;
    margin-left: 15px;
}
.section-4__level-text{
    color: var(--text-accent);
    font-size: 0.875em;
    display: inline-block;
    font-weight: 600;
    padding-left: 15px;
}
.section-4__level-top{
    padding-top: 7px;
}
.section-4__box-title-r{
    color: var(--main-font);
    font-size: 1.125em;
    font-weight: 600;
}
.section-4__box-head{
    color: var(--text-accent);
    font-size: 0.750em;
    font-weight: 500;
}
.section-4__box-text2{
    color: var(--text-color);
    font-size: 0.813em;
    font-weight: 500;
    padding-top: 20px;
}
.section-4__box-text3{
    color: var(--text-color);
    font-size: 0.813em;
    font-weight: 500;
    display: inline-block;
    
}
.section-4__box-img1{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    
}
.section-4__box-text2:after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #d1d5e1;
    margin: 10px 0;
}
.section-4__box-span:before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 5px;
    background-color: #d1d5e1;
    margin: 0 10px;
    margin-top: -2px;
    vertical-align: middle;
    
}

.section-4__box-desc-r{
    display: inline-block;
        color: var(--text-color);
        font-size: 0.688em;
        font-weight: 600;
}
.section-4__box:after{
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    margin-top: 15px;
    background-color: #d1d5e1;
}

.section-4__average-number:nth-child(3):after{
    display: none;
}
.section-4__average-number1:nth-child(2):after{
    display: none;
}
.section-4-carousel__card .card-header i {
    color: var(--text-accent);
}

.section-4-carousel__card .card-header .section-4-carousel__description-reviews {
    color: #1e222c;
    font-size: 	0.6875rem;
    font-weight: 600;
}

.section-4-carousel__cardColors {
    display: inline-block;
}

.card-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-4-carousel__cardPrice {
    display: inline-block;
}

.section-4-carousel__cardColors img {
    display: inline!important;
    width: auto!important;
}

.section-4-carousel__cardPrice p {
    margin: 0;
}

.section-4-carousel__cardPrice p:last-child {
    font-size: 	1.625rem;
    font-weight: 600;
}

.section-4-carousel__cardPrice p:last-child span {
    font-size: 	1.125rem;
}

.section-4-carousel__cardPrice-title {
    font-size: 	0.625rem;
    font-weight: 600;
}

.section-4-carousel__addToCartBtn {
    margin-top: 10px;
    padding: 10px 0;
    width: 100%;
    font-size: 	0.75rem;
    font-weight: 600;
    background-color: transparent;
    color: var(--text-accent);
    border: 1px solid var(--text-accent);
}

.section-4 .card-header {
    border-bottom: 0;
}

.section-4 .card-header {
    background-color: transparent;
}

.section-4 .card-img-top {
    padding: .75rem 1.25rem;
}

.section-4-CarouselArrows__prev {
    position: absolute;
    left: 5px;
    z-index: 3;
    top: 40%;
    font-size: 3rem;
    cursor: pointer;
    color: #d3d5dc;
}

.section-4-CarouselArrows__next {
    position: absolute;
    right: 5px;
    z-index: 3;
    top: 40%;
    font-size: 3rem;
    cursor: pointer;
    color: #d3d5dc;
}
@media screen and (max-width: 992px){
    .section-4__line:before{
        left: -5%;
    }

    .fa-section-3{
        margin-right: 0px;
    }
    .section-4__img{
        margin-top: 15px;
    }
    .section-4__average-number{
        font-size: 1.875em;
    }
    .section-4__average-title{
        font-size: 0.775em;
    }
    .section-4__line-desc{
        font-size: 0.775em;
    }
    .section-4__average-title1{
        padding-left: 40px;
    }
    .section-4__box:after{
        width: 100%;
    }
}
@media screen and (max-width: 1200px) and (min-width: 992px){
    .section-4__line:before{
        left: -3%;
    }
    .section-4__box:after{
        width: 97%;
    }
    .section-4__level-title:after{
        width: 107px;
    }
     .section-4__level-title1:after{
        width: 107px;
    }
    .section-4__average-title1{
        padding-left: 30px;
    }
}
@media screen and (max-width: 840px) and (min-width: 768px){
    .section-4__level-title:after{
        width: 100px;
    }
     .section-4__level-title1:after{
        width: 100px;
    }
}
@media screen and (max-width: 1044px) and (min-width: 992px){
     .section-4__average-title1{
        padding-left: 20px;
    }
    .section-4__level-title:after{
        width: 100px;
    }
}
@media screen and (max-width: 800px) and (min-width: 768px){
    .section-4__average-title1{
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .section-4__img{
        display: none;
        
    }
    .section-4__average{
        margin-top: 30px;
    }
    .section-4__level-title:after{
        width: 60px;
    }
     .section-4__level-title1:after{
        width: 60px;
    }
    .section-4__line:before{
        left: -4.4%;
    }
    .section-4__average-title1{
        padding-left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .section-4__line:before{
        top: 30%;
    }
    .section-4__line-head{
        position: absolute;
        left: -30%;
        top: -50px;
    }
    .section-4__line-title{
        position: absolute;
        left: -30%;
        top: -30px;
    }
    .section-4__media{
        margin-top: 20px;
    }
    .section-4__line_box{
        margin-top: 5px;
    }
    .section-4__line_box1{
        margin-top: 5px;
    }
}
@media screen and (max-width: 643px) and (min-width: 576px) {
    
    .section-4__line:before{
        left: -2.4%;
    }
}
@media screen and (max-width: 620px) and (min-width: 576px) {
    
   .section-4__level-title:after{
    width: 45px;
   }
   .section-4__level-title1:after{
    width: 45px;
   }

}
@media screen and (max-width: 576px){
  .section-4__line-head{
    left: -46%;
    }
    .section-4__line-title{
        left: -46%;
    }
    .section-4__level-title:after{
        width: 45px;
    }
    .section-4__level-title1:after{
        width: 45px;
    }
    .section-4__line:before{
        left: -7.4%;
    }
    .section-4__average-number{
        font-size: 1.475em;
    }
      .section-4__average{
        margin-top: 40px;
    }
  .section-4__media{
    margin-top: 30px;
  }
  .section-4__line:before{
    top: 45%;
  }
  .section-4__level-text{
    position: absolute;
    top: 0px;
    right: 27px;
  }

}

@media screen and (max-width: 460px) and (min-width: 420px){
    .section-4__line:before{
        left: -4.7%;
    }
     .section-4__level-title:after{
        width: 107px!important;
        margin-left: 0;
    }
      .section-4__level-title1:after{
        width: 107px!important;
        margin-left: 0;
    }

}
@media screen and (max-width: 570px) and (min-width: 476px){
    .section-4__line:before{
        left: -4.7%;
    }
    .section-4__level-title:after{
        width: 30px;
    }
      .section-4__level-title1:after{
        width: 30px;
    }

}

@media screen and (max-width: 420px) and (min-width: 320px){
 .section-4__level-text{
    top: -4px;
    right: 10px;
  }
  .section-4__box-text3{
    font-size: 0.713em;
  }
    .section-4__line:before{
        left: -3.5%;
    }
    .section-4__level-title{
        font-size: 0.650em;
    }
    .section-4__level-title1{
        font-size: 0.650em;
    }
 .section-4__average-title{
    font-size: 0.675em;
 }
    .fa-section-3{
        font-size: 13px!important;
    }
    .section-4__average-number1{
        font-size: 1.475em;
    }
    .section-4__level-title:after{
        width: 100px!important;
        margin-left: 0;
    }
      .section-4__level-title1:after{
        width: 100px!important;
        margin-left: 0;
    }
}

@media screen and (max-width: 520px) and (min-width: 476px){
   
    .section-4__level-title:after{
        width: 20px;
    }
      .section-4__level-title1:after{
        width: 15px!important;
    }
    .section-4__level-text{
        top: 4px;
    }

}

@media screen and (max-width: 476px) {
   
    .section-4__level-title:after{
        width: 120px;
        margin-left: 0;
    }
      .section-4__level-title1:after{
        width: 120px;
        margin-left: 0;
    }
   

}


@media screen and (max-width: 356px){
   
  .section-4__average-number1{
    font-size: 1.175em;
  }
.section-4__level-title:after{
    width: 90px!important;
}
.section-4__level-title1:after{
    width: 90px!important;
}
.section-4__average-number{
    font-size: 1.175em;
}
.section-4__line-desc{
    font-size: 0.575em;
}
}