.section-change{
	padding-bottom: 100px;
	display: none;
	
}
.nav-item-2{
	margin: 0 200px!important;
}

#home-tab{
	background: url("../img/number-one.png") 0 0 no-repeat;
	height: 32px;
	position: relative;
}
#profile-tab{
	background: url("../img/number-two.png") 0 0 no-repeat;
	height: 32px;
	position: relative;
}
#profile-tab:focus{
	background: url("../img/two.png") 0 0 no-repeat;
	height: 32px;
	position: relative;

}

#contact-tab{
	background: url("../img/number-three.png") 0 0 no-repeat;
	height: 32px;
	position: relative;
}
#contact-tab:focus{
	background: url("../img/three.png") 0 0 no-repeat;
	height: 32px;
	position: relative;
}
#profile-tab::after{
	content: "";
	display: inline-block;
	background-color: #d9dde8;
	opacity: 0.85;
	width: 190px;
	height: 2px;
	position: absolute;
    top: 40%;
    left: 100%;
}
#contact-tab::after{
	content: "";
	display: inline-block;
	background-color: #d9dde8;
	opacity: 0.85;
	width: 190px;
	height: 2px;
	position: absolute;
    top: 40%;
    left: 85%;
}
#home-tab::after{
	content: "";
	display: inline-block;
	background-color: #d9dde8;
	opacity: 0.85;
	width: 193px;
	height: 2px;
	position: absolute;
    top: 40%;
    left: 100%;
}

#home-tab::before{
	content: "";
	display: inline-block;
	background-color: #d9dde8;
	opacity: 0.85;
	width: 190px;
	height: 2px;
	position: absolute;
    top: 40%;
    left: -200px;
}
.section-change--down{
	margin-top: 100px;
}
.section-home__title{
	margin-left: -5px;
	margin-top: 10px;
	font-size: 1em;
	color: var(--text-color);
	font-weight: 600;
}
.title-row{

	margin-left: -17px!important;
}


.section-change__box{
	padding: 25px 10px 20px 10px;
	border: 1px solid #d1d5dd;
	margin-left: 30px;
	text-align: center;
	border-radius: 10px;
	
}
.section-change__item__bg{
	width: 90%;
	height: 36px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: .25rem;
	background-color: #272928;
}
.section-change__item__bg1{
	width: 45%;
	height: 36px;
	display: block;
	margin-left: auto;
	display: inline-block;
	margin-right: auto;
	border-radius: .25rem;
	background-color: #272928;
}
.section-change__item__bg2{
	width: 45%;
	height: 36px;
	display: block;
	display: inline-block;
	
	margin-left: auto;
	margin-right: auto;
	border-radius: .25rem;
	background-color: #525553;
}
.btn-top{
	margin-top: 13px!important;
}
.color-light{
	background-color: #a58e6f;
}

.section-change__item-img1{
	margin: 30px 0;
	max-width: 100%;
}
.color-brown{
	background-color: #c0a684;
}
.color-gray{
	background-color: #c4c6c5;
}

.section-change__item-text2
{
	font-size: 1em;
	padding-left: 5px;
	font-weight: 600;
	text-align: center;
	
}
.section-change__box__price-mod{
	font-size: 0.875em;
	font-weight: 600;
	text-decoration: line-through;

}
.section-change__box1{
	padding: 25px 10px 20px 10px;
	border: 1px solid #d1d5dd;
	margin-left: 30px;
	text-align: center;
	border-radius: 10px;

}
.box_item{
	margin: 10px 0;
}
.box_item::before{
	content: "";
	display: inline-block;
	height: 2px;
	background-color: #d9dde8;
	width: 35%;
	margin-right: 10px;
}
.box_item::after{
	content: "";
	display: inline-block;
	height: 2px;
	background-color: #d9dde8;
	width: 35%;
	margin-left: 10px;
}

.section-after:after{
	content: "";
	display: block;
	width: 92%;
	margin-left: 8.5%;
	height: 6px;
	border-radius: 20px	;
	margin-top: -6.5px;
	background-color: #ce4234;
}
.section-change__item-before__text{
	color: #fff;
	display: inline-block;
    font-size: 0.938em;
    font-weight: 600;
	width: 50%;
	float: right;
	padding: 15px 20px;
	text-align: center;
	
}

.section-change__item-before__title{
	color: #fff;
	display: inline-block;
    font-size: 0.938em;
    font-weight: 600;
   	width: 50%;
   	float: left;
   	padding: 15px 20px;	
   	text-align: center;
}
.section__star{
	color: #fff;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 140px;
	font-size: 12px;
	
}
.section-change__item-before{
	background-color: #ce4234;
	width: 84.2%;
	left: 12%;
	position: absolute;
	top: -8.5%;
}
/*.section-after:before{
	content: "";
	display: block;
	width: 84.2%;
	top: -10%;
	left: 12%;
	height: 51px;
	position: absolute;
	background-color: #ce4234;
}*/
.section-change__item{
	border: 1px solid #d4d8e0;
	padding: 25px 10px 20px 10px;
	text-align: center;
	border-radius: 10px;
	margin-top: 25px;
}
.section-width{
	text-align: justify;
	
}

.section-change__item-img{
	margin-bottom: 30px;
}
.section-change__item-text{
	font-size: 1em;
	padding-left: 5px;
	font-weight: 600;

	
}
.section-change__arrow1{
	position: absolute;
	    top: 27%;
	    left: 46.5%;
	    color: #545c6d;
}
.section-change__item-text1{
	font-size: 1em;
	padding-left: 5px;
	font-weight: 600;
	padding-bottom: 24px;
}
/*.section-change__box:hover{
	background-color: red;
	cursor: pointer;
}*/
/*.section-change__box:hover:before{
	content: "";
	display: block;
	width: 100%;
	height: 10px;
	background-color: #000;
}*/
.section-change__box__title{
	font-size: 1.250em;
	color: var(--text-color);
	font-weight: 600;
}
.section-change__box__title:after{
	content: "";
	display: block;
	width: 30px;
	height: 2px;
	background-color: #ce4234;
	opacity: 0.9;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.section-change__box__text{
	font-size: 0.750em;
    font-weight: 600;
}
.section-change__box__price{
	    font-size: 1.375em;
    font-weight: 600;
    color: var(--text-accent);
}
.section-change__box__img{
	margin: 30px 0;
}
.section-change__box__img1{
	margin: 17px;
}
.section-change__box-text2{
		font-size: 0.813em;
		display: inline-block;
		padding-left: 5px;
    font-weight: 600;
}
.section-change__btn{
	 width: 20%;
    background-color: #e0e3ea;
    border-color: #e0e3ea;
    font-size: 0.750em;
    font-weight: 600;
    margin-top: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #545c6d;
    padding: 10px 0;
    border-radius: 0px!important;
}
.section-change__box-btn{
    width: 90%;
    background-color: var(--text-accent);
    border-color: var(--text-accent);
    font-size: 0.750em;
    font-weight: 600;
    margin-top: 20px;
  }
 .section-change__box-link{
 	position: relative;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	
 }
 .section-change__arrow{
 	position: absolute;
 	top: 69%;
 	left: 46.5%;
 	color: #545c6d;
 }
 .section-change__block{
 	display: none;
 }
 @media screen and (max-width: 1200px) and (min-width: 992px){

    .section-change__item-before__title{
    	padding: 20px 5px;
    }
    .section-change__item-before__text{
    	padding: 20px 5px;
    }
    .section__star{
    	top: 18px;
    	left: 113px;
    	font-size: 10px;
    }
    .section-change__arrow{
    	left: 46%;
    }
  
     .section-change__arrow1{
    	left: 46%;
    }
    .section-change__item-text1{
    	padding-bottom: 48px;
    }
    .section-after:after{
    	content: "";
    display: block;
    width: 90%;
    margin-left: 10%;
    height: 6px;
    border-radius: 20px;
    margin-top: -7.5px;
    background-color: #ce4234;
    }
    .section-change__item-before
    	{
    	background-color: #ce4234;
    	    width: 81.21%;
    	    left: 14%;
    	    position: absolute;
    	    top: -9%;
    }
}

 @media screen and (max-width: 992px){
	.section-change__box__img{
		max-width: 100%;
	}
	.section-change__btn{
		width: 30%;
	}
	  #home-tab::before{
    	content: "";
    	display: inline-block;
    	background-color: #d9dde8;
    	opacity: 0.85;
    	width: 150px;
    	height: 2px;
    	position: absolute;
    	top: 40%;
    	left: -160px;
    }
    #contact-tab::after{
		content: "";
		display: inline-block;
		background-color: #d9dde8;
		opacity: 0.85;
		width: 150px;
		height: 2px;
		position: absolute;
		top: 40%;
		left: 85%;
    }
	.btn-up{
		margin-top: 6px!important;
}
	.section-change__box__img1{
		max-width: 100%;
		margin: 17px 0;
	}
	 .section-change__arrow{
    	left: 44%;
    }
    .section-change__arrow1{
    	left: 44%;
    }
	.section-change__box-text2{
		font-size: 0.683em;
	}
	.btn-w{
		width: 90%!important;
	}
	.btn-w1{
		width: 93%!important;
	}
	.section-change__box-btn{
		width: 70%;
	}
	.section-change__item-text1{
		padding-bottom: 48px;
	}
	.section-change__item{
		margin-top: 30px;
	}
	.section-after:after{
		content: "";
		display: block;
		width: 85.5%;
		margin-left: 14.5%;
		height: 6px;
		border-radius: 20px;
		margin-top: -7px;
		background-color: #ce4234;
	}
	 .section-change__item-before__title{
    	padding: 20px 0px;
    }
    .section-change__item-before__text{
    	padding: 20px 0px;
    }
    .section__star{
    	top: 40px;
    	left: 73px;
    	font-size: 10px;
    }
    .section-change__item-before{
    	background-color: #ce4234;
    	width: 74.9%;
    	left: 19%;
    	position: absolute;
    	top: -9%;
    }

 }

  @media screen and (max-width: 768px){
		.section-change__box{
			margin-top: 50px;
		}
		 .section-change__arrow{
    	left: 42%;
    }
    .section-change--down{
    	margin-top: 20px;
    }
    .nav-item-2{
    	margin: 0 150px!important;
    }
     .section-change__arrow1{
    	left: 42%;
    }
    #home-tab::after{
    	width: 140px;
    }
    #profile-tab::after{
    	width: 140px;
    }
		.section-change__box1{
			margin-top: 100px;
		}
		.section-after:after{
			content: "";
			    display: block;
			    width: 86%;
			    margin-left: 14%;
			    border-radius: 20px;
			    margin-top: -7px;
			    background-color: #ce4234;
		}
		.section-change__item-before{
			background-color: #ce4234;
			width: 75%;
			left: 18.7%;
			position: absolute;
			top: 9%;
		}
		.section-change__item-before__title{
			padding: 20px 0px;
		}
		.section-change__item-before__text{
			padding: 20px 0px;
		}
		/*.section__star{
			top: 14px;
			left: 205px;
			font-size: 15px;
		}*/


  }

   @media screen and (max-width: 535px){
.section-change__item-before__title{
			padding: 20px 0px;
		}
		.section-change__item-before__text{
			padding: 20px 0;
		}
		.section__star{
			top: 14px;
			left: 190px;
			font-size: 15px;
		}
		 #home-tab::after{
    	width: 95px;
    }
    #profile-tab::after{
    	width: 95px;
    }
		.section-change__item-before{
			width: 88.7%;
			left: 8.5%;
			position: absolute;
			top: 9%;
		}
		.nav-item-2{
    	margin: 0 100px!important;
    }

   }
 @media screen and (max-width: 760px){
 	.section-change__item-before{
 		width: 89%;
 		left: 8.3%;
 	}
 	.section-after:after{
		content: "";
		display: block;
		width: 94%;
		margin-left: 6%;
		border-radius: 20px;
		margin-top: -7px;
		background-color: #ce4234;
 		}
 	
 	.section__star{
 		top: 19px;
 		left: 225px;
 		font-size: 14px;
 	}
 	
}

    @media screen and (max-width: 480px){
		.section__star{
			top: 14px;
			left: 42%;
			font-size: 15px;
		}
		.section-change__item-before{
			width: 88%;
			left: 9%;
			position: absolute;
			top: 9%;
		}
			
		 .section-change__arrow{
    	left: 37%;
    	top: 70%;
    }
    .section-change__arrow1{
    	left: 41%;
    	top: 27%;
    }

   }
    @media screen and (max-width: 460px){
    	.section-change__item-before{
    		width: 86.8%;
    		left: 9.9%;
    		position: absolute;
    		top: 9%;
    	}
    	.section-after:after{
			content: "";
			display: block;
			width: 93%;
			margin-left: 7%;
			border-radius: 20px;
			margin-top: -7px;
			background-color: #ce4234;
 		}
		

   }
    @media screen and (max-width: 430px){
    	.section-change__item-before{
    		width: 85%;
    		left: 11.3%;
    		position: absolute;
    		top: 9%;
    	}
    	.section-after:after{
			content: "";
			display: block;
			width: 92%;
			margin-left: 8%;
			border-radius: 20px;
			margin-top: -7px;
			background-color: #ce4234;
 		}
 		.section-change__arrow1{
    	left: 39%;
    }
		

   }
    @media screen and (max-width: 375px){
    	.section-change__item-before{
    		width: 83.9%;
    		left: 12%;
    		position: absolute;
    		top: 9%;
    	}
    	.section-after:after{
    		content: "";
    		display: block;
    		width: 91%;
    		margin-left: 9%;
    		border-radius: 20px;
    		margin-top: -7px;
    	}
    	 .section__star{
    	font-size: 12px;
    }
		
 
   }
   @media screen and (max-width: 340px){
		.section-change__item-before{
			width: 81%;
			left: 14%;	
		}
		.section-after:after{
			content: "";
			display: block;
			width: 90.5%;
			margin-left: 9.5%;
			border-radius: 20px;
			margin-top: -7px;
   		}   
   		.section-change__arrow1{
    	left: 37%;
    } 
     
}
